<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <!--%- partial('_partial/menu') %-->
        <h3> who we are</h3>
        </div>
        <%- partial('_partial/footer') %>
    </body>
</html>